.vscode/
.idea/
bin/
**/node_modules/
*.pb.go
**/.DS_Store
configs/private/
build/
**/go.sum
demo/Display/venv
demo/Display/__pycache__
demo/Display/.idea
sdk/jsi-sdk-python/venv/
sdk/jsi-sdk-python/JointCloudStorage/__pycache__/
