.card {
    margin-top: 20px;
    max-height: 280px;
}

.detail-table {
    text-align: center;
    font-size: 48px;
}

.detail-table th {
    font-size: 24px;
    width: 50%;
}

.detail-table td {
    width: 50%;
}

.detail-table .success {
    color: var(--bs-success)
}

.detail-table .fail {
    color: var(--bs-danger)
}

.detail-table .ignore {
    color: var(--bs-gray)
}

.grey-link {
    color: #ccc;
}