MongoTitle = mongodb://
MongoUsername = root
MongoPassword = 123456
MongoAddr = 192.168.105.13
MongoPort = 27017
SchedulerAddr = 127.0.0.1
SchedulerPort = 8082
TransporterAddr = 127.0.0.1
TransporterPort = 8083
HttpserverPort = 8081
Config = httpserver.json
Debug = false
TestMode = true
DataBase = hohhot
UserCollection = User
FileCollection = File
AccessTokenCollection = AccessToken
TaskCollection = Task
VerifyCodeCollection = VerifyCode
MigrationAdviceCollection = MigrationAdvice
CloudCollection = Cloud
AccessKeyCollection = AccessKey
EncryptKey = 1234567890123456
CloudID = aliyun-hohhot
