{
  "debugMode": true,
  "debugLevel": "Trace",
  "UploadFileTempPath": "./tmp/Upload",
  "DownloadFileTempPath": "./tmp/Download",
  "Database": {
    "Driver": "MongoDB",
    "Host": "192.168.105.13",
    "Port": "27017",
    "DatabaseName": "dev"
  },
  "DefaultStorageClient": "Aws",
  "Host": "0.0.0.0",
  "Port": 8083,
  "ZookeeperHost":"192.168.105.13",
  "LocalCloudID": "aliyun-hohhot",
  "SchedulerHost": "http://192.168.105.13:8082"
}