{
  "debugMode": true,
  "UploadFileTempPath": "./tmp/Upload",
  "DownloadFileTempPath": "./tmp/Download",
  "Database": {
    "Driver": "MongoDB",
    "Host": "192.168.105.13",
    "Port": "27017",
    "DatabaseName": "dev"
  },
  "DefaultStorageClient": "Aws"
}